{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Binance Wallet</title>
  <!-- Bootstrap core CSS-->
  <link href={% static "bootstrap/vendor/bootstrap/css/bootstrap.min.css" %} rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href={% static "bootstrap/vendor/font-awesome/css/font-awesome.min.css" %} rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href={% static "bootstrap/css/sb-admin.css" %} rel="stylesheet">
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="/users/trading/">RICHER</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" href="/users/trading/">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">Trading</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
          <a class="nav-link" href="/users/order/">
            <i class="fa fa-fw fa-area-chart"></i>
            <span class="nav-link-text">Orders</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
          <a class="nav-link" href="/users/withdraw/">
            <i class="fa fa-fw fa-dollar"></i>
            <span class="nav-link-text">Withdraw</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
          <a class="nav-link" href="/users/deposit/">
            <i class="fa fa-fw fa-bitcoin"></i>
            <span class="nav-link-text">Deposit</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-calculator"></i>
            <span class="nav-link-text">Wallet</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseComponents">
            <li>
              <a href="/users/CexWallet/">Cex_Wallet</a>
            </li>
            <li>
              <a href="/users/BittrexWallet/">Bittrex_Wallet</a>
            </li>
            <li>
              <a href="/users/BinanceWallet/">Binance_Wallet</a>
            </li>
            <li>
              <a href="#">hahaha_Wallet</a>
            </li>
          </ul>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMyPage" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-calculator"></i>
            <span class="nav-link-text">MyPage</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseMyPage">
            <li>
              <a href="#">Status</a>
            </li>
            <li>
              <a href="/users/changePassword/">ChangePassword</a>
            </li>
          </ul>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
          <a class="nav-link" href="#">
            <i class="fa fa-fw fa-table"></i>
            <span class="nav-link-text">Contact</span>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
            <i class="fa fa-fw fa-sign-out"></i>Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/users/trading/">Trading</a>
        </li>
        <li class="breadcrumb-item active">Wallet</li>
        <li class="breadcrumb-item active">Binance_Wallet</li>
      </ol>
      <div class="col mb-3">
        <div class="tab-pane" id="cex_wallet">
          <h5>Bitcoin Balance</h5>
          <div class="row">
            <div class= "col-sm-3"><h2>1.4291</h2> </div>
            <div class= "col-sm-9"><h4>BTC</h4></div>
          </div>

          <hr></hr>
        <h5>USD Balance</h5>
          <div class="row">
            <div class= "col-sm-3"><h2>${{money}}</h2> </div>
            <div class= "col-sm-9"><h4>USD</h4></div>
          </div>
        </div>
    </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © RICHER 2018</small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="login.html">Logout</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src={% static "bootstrap/vendor/jquery/jquery.min.js"%}></script>
    <script src={% static "bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js"%}></script>
    <!-- Core plugin JavaScript-->
    <script src={% static "bootstrap/vendor/jquery-easing/jquery.easing.min.js"%}></script>
    <!-- Custom scripts for all pages-->
    <script src={% static "bootstrap/vendor/js/sb-admin.min.js"%}></script>
  </div>
</body>

</html>
