<html>

<head>
    <title>My Wallet</title>
</head>

<body>
    <h1>name : {{username}}</h1>
    <h1>money : {{money}}</h1>
    <div>
        <br>
        <a href="/users/myWallet/storedWalletMoney/">StoredWalletMoney</a>
        <br>
        <a href="/users/myWallet/takeWalletMoney/">TakeWalletMoney</a>
        <br>
        <a href="/users/myProfile/">MyProfile</a>
        <br>
        <a href="/users/changepassword/">ChangePassword</a>
        <br>
        <a href="/users/logout">Logout</a>
    </div>
</body>

</html>