{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js" type="text/javascript"></script>
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="http://127.0.0.1:4000/socket.io/socket.io.js"></script>
  <script>
    $(document).ready(function(){
      //  SetData();
        var socket = io.connect('http://127.0.0.1:4000');
        console.log(socket)
        socket.on('connect', function(){
          console.log("connect");
        //  SetData();
        });
        var options =
        {
          year: "numeric", month: "short",
          day: "numeric", hour: "2-digit", minute: "2-digit"
        };

          socket.on('message', function(message)
          {
            console.log('send message');
            console.log(message);
            var megObjs = JSON.parse(message);
            //console.log(message);
            var outputMeg=[]
            /*megObjs.map(megObj => {
              myDate=new Date(megObj.fields.created_at) //change date type
              megObj.fields.created_at= myDate.toLocaleTimeString("en-us", options);
              outputMeg.push(megObj.fields) //push all obj to list
            });*/
            //megObj=megObjs[megObjs.length-1]
            //myDate=new Date(megObj.fields.created_at) //change date type
            //megObjs.products.map(megObj=>{
              megObjs.created_at= new Date(megObjs.created_at)
              outputMeg.push(megObjs)
            //})
            //console.log(outputMeg)
            //outputMeg.push(megObj.fields)


            var dt = dynamicTable.config( 'dataTable',
                ['transection','bid', 'ask','created_at'],
                ['transection','bid', 'ask','time'], //set to null for field names
                'There are no items to list...');
            //outputMeg.push(outputMeg)
            //console.log(typeof(megObjs))
            dt.load(outputMeg);
          });
        });
    ///////////////////////dynamic table////////////////////////
          var dynamicTable = (function() {
          var _tableId, _table,
          _fields, _headers,
          _defaultText;
          function UpdateTable(transectionId)
          {
            a=document.getElementById('Cex')
            console.log(a)
          }
          function AddRow(item,names)
          {
            table = document.getElementById("dataTable");
            var row = table.insertRow(table.length);
            row.id=item['transection'];
            var i=0;
            names=names.reverse()
            $.each(names, function(index, name) {
              var cell1 = row.insertCell(i);
              cell1.innerHTML = item[name+''];
            });
          }
          function Update(item,names)
          {
            table = document.getElementById(item['transection']);
            var i=0
            //names=names.reverse()
            $.each(names, function(index, name) {
              table.cells[i].innerHTML=item[name+'']
              console.log(table.cells[i])
              i++
            });
            //table.innerHTML
          }
          function _buildRowColumns(names, item) {
            var row=''
            if(item)
            {
              if(document.getElementById(item['transection'])==null)
                AddRow(item,names)
              else
                Update(item,names)
              return ''
            }
            else
            {
              row='<tr>'
              $.each(names, function(index, name) {
              var c = item ? item[name+''] : name;
              row += '<td>' + c + '</td>';
              });
              row += '</tr>';
            }
            return row;
          }


          return {
            //* Configres the dynamic table.
            config: function(tableId, fields, headers, defaultText) {
              _tableId = tableId;
              _table = $(document.getElementById(_tableId))//$('#' + tableId);
              _fields = fields || null;
              _headers = headers || null;
              _defaultText = defaultText || 'No items to list...';
              //_setHeaders();
              return this;
                    },
            /** Loads the specified data to the table body. */
            load: function(data, append) {
              var i=0;
                //transectionId=data[0]['transection']
                //console.log(data.length)
                if (data && data.length > 0) {
                  var rows = '';
                  $.each(data, function(index, item) {
                    rows += _buildRowColumns(_fields, item);
                  });

                  var mthd = append ? 'append' : 'html';
                  if(rows!='')
                    _table.children('tbody')[mthd](rows);
                  }
                return this;
          },
              /** Clears the table body. */
        };
        }());

/////////////////////////////////////////////////////////////////
  </script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Project Website</title>
  <!-- Bootstrap core CSS-->
  <link href={% static "bootstrap/vendor/bootstrap/css/bootstrap.min.css" %} rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
    rel='stylesheet'>
  <!-- Custom fonts for this template-->
  <link href={% static "bootstrap/vendor/font-awesome/css/font-awesome.min.css" %} rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href={% static "bootstrap/css/sb-admin.css" %} rel="stylesheet">
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <h3 class="navbar-brand">RICHER</h3>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" href="/users/trading/">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">Trading</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
          <a class="nav-link" href="/users/order/">
            <i class="fa fa-fw fa-area-chart"></i>
            <span class="nav-link-text">Orders</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
          <a class="nav-link" href="/users/withdraw/">
            <i class="fa fa-fw fa-dollar"></i>
            <span class="nav-link-text">Withdraw</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
          <a class="nav-link" href="/users/deposit/">
            <i class="fa fa-fw fa-bitcoin"></i>
            <span class="nav-link-text">Deposit</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-calculator"></i>
            <span class="nav-link-text">Wallet</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseComponents">
            <li>
              <a href="#">Cex_Wallet</a>
            </li>
            <li>
              <a href="#">Bittrex_Wallet</a>
            </li>
            <li>
              <a href="#">Binance_Wallet</a>
            </li>
            <li>
              <a href="#">hahaha_Wallet</a>
            </li>
          </ul>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMyPage" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-calculator"></i>
            <span class="nav-link-text">MyPage</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseMyPage">
            <li>
              <a href="#">Status</a>
            </li>
            <li>
              <a href="/users/changepassword/">ChangePassword</a>
            </li>
          </ul>
        </li>


        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
          <a class="nav-link" href="#">
            <i class="fa fa-fw fa-table"></i>
            <span class="nav-link-text">Contact</span>
          </a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
            <i class="fa fa-fw fa-sign-out"></i>Sign out</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Area Chart Example-->
      <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-area-chart"></i> Area Chart
          </div>
        <div class="card-body">
          <div class = "row">
            <div class = "col-4">
              <button type="button" class="btn btn-white" value="Plus" onclick="Plus()">+</button>
              <button type="button" class="btn btn-white" value="Minus" onclick="Minus()">-</button>
            </div>
            <div class = "col-8">
              <button type="button" class="btn btn-secondary" value="Binance" onclick="getDate(this.value)">Binance</button>
              <button type="button" class="btn btn-secondary" value="Bittrex" onclick="getDate(this.value)">Bittrex</button>
              <button type="button" class="btn btn-secondary" value="Cex" onclick="getDate(this.value)">Cex</button>
              <button type="button" class="btn btn-secondary" value="Bitfinex" onclick="getDate(this.value)">Bitfinex</button>
              <button type="button" class="btn btn-secondary" value="Cryptopia" onclick="getDate(this.value)">Cryptopia</button>
            </div>
          </div>
          <svg id="Bittrex" width="960" height="500"></svg>
          <script src={% static "bootstrap/moment.min.js" %}></script>
          <script src={% static "bootstrap/moment-timezone-with-data.js" %}></script>
          <script>
              var timezone = "Asia/Taipei";
              Bittrex=[];
              Binance=[];
              Cex=[];
              Bitfinex=[];
              Cryptopia=[];

              var parseTime = d3.timeParse("%Y-%m-%d %H:%M:%S");

                {% for CoinTable in BittrexBTCTable %}
                  //temp=FormatData({{CoinTable}})
                  var localDate = moment.utc("{{CoinTable.created_at}}").tz(timezone).format('YYYY-MM-DD HH:mm:ss');
                  temp={'date':parseTime(localDate),'closeBid':Number({{CoinTable.bid}}),'closeAsk':Number({{CoinTable.ask}})};
                  Bittrex.push(temp);
                {% endfor %}
                {% for CoinTable in BinanceBTCTable %}
                  var localDate = moment.utc("{{CoinTable.created_at}}").tz(timezone).format('YYYY-MM-DD HH:mm:ss');
                  temp={'date':parseTime(localDate),'closeBid':Number({{CoinTable.bid}}),'closeAsk':Number({{CoinTable.ask}})};
                  Binance.push(temp);
                {% endfor %}
                {% for CoinTable in CexBTCTable %}
                  var localDate = moment.utc("{{CoinTable.created_at}}").tz(timezone).format('YYYY-MM-DD HH:mm:ss');
                  temp={'date':parseTime(localDate),'closeBid':Number({{CoinTable.bid}}),'closeAsk':Number({{CoinTable.ask}})};
                  Cex.push(temp);
                {% endfor %}
                {% for CoinTable in BitfinexBTCTable %}
                  var localDate = moment.utc("{{CoinTable.created_at}}").tz(timezone).format('YYYY-MM-DD HH:mm:ss');
                  temp={'date':parseTime(localDate),'closeBid':Number({{CoinTable.bid}}),'closeAsk':Number({{CoinTable.ask}})};
                  Bitfinex.push(temp);
                {% endfor %}
                {% for CoinTable in CryptopiaBTCTable %}
                  var localDate = moment.utc("{{CoinTable.created_at}}").tz(timezone).format('YYYY-MM-DD HH:mm:ss');
                  temp={'date':parseTime(localDate),'closeBid':Number({{CoinTable.bid}}),'closeAsk':Number({{CoinTable.ask}})};
                  Cryptopia.push(temp);
                {% endfor %}
                all={'Cryptopia':Cryptopia,'Bitfinex':Bitfinex,'Cex':Cex,'Binance':Binance,'Bittrex':Bittrex}
                data=all['Bittrex']
                console.log(data)
              function getDate(transectionName)
              {
                draw(all[transectionName],transectionName)
              }
              var margin = {top: 20, right: 50, bottom: 30, left: 50},
                width = 960 - margin.left - margin.right,
                height = 500 - margin.top - margin.bottom;
              var svg = d3.select("svg").append("svg")
                  .attr("width", width + margin.left + margin.right)
                  .attr("height", height + margin.top + margin.bottom)
                  .append("g")
                  .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
              var parseTime = d3.timeParse("%Y-%m-%d %H:%M:%S");
              bisectDate = d3.bisector(function(d) { return d.date; }).left,
              formatValue = d3.format(",.2f"),
              formatCurrency = function(d) { return "$" + formatValue(d); };
              var x = d3.scaleTime()
                  .range([0, width]);

              var y = d3.scaleLinear()
                  .range([height, 0]);
              var y1 = d3.scaleLinear()
                  .range([height, 0]);

              var yAxis = d3.axisLeft()
                  .scale(y)
              var yAxis1 = d3.axisLeft()
                  .scale(y1)

              var line = d3.line()
                  .x(function(d) { return x(d.date); })
                  .y(function(d) { return y(d.closeBid); });

              var lineAsk = d3.line()
                  .x(function(d) { return x(d.date); })
                  .y(function(d) { return y1(d.closeAsk); });

                data.sort(function(a, b) {
                  return a.date - b.date;
                });
              console.log(data)
              //draw(data,true)
                x.domain([data[0].date, data[data.length - 1].date]);
                y.domain(d3.extent(data, function(d) { return d.closeBid; }));
                y1.domain(d3.extent(data, function(d) { return d.closeAsk; }));

                svg.append("g")
                    .attr("class", "xaxis")
                    .attr("transform", "translate(0," + height + ")")
                    .call(d3.axisBottom(x)
                    .tickFormat(d3.timeFormat("%H:%M:%S")));


                svg.append("g")
                    .attr("class", "date")
                    .attr("transform", "translate(0," + height + ")")
                    .call(d3.axisTop(x)
                    .tickFormat(d3.timeFormat("%y-%m-%d")));


                svg.append("g")
                    .attr("class", "y axis")
                    .call(yAxis)
                  .append("text")
                  .attr("fill", "#000")
                    .attr("transform", "rotate(-90)")
                    .attr("y", 6)
                    .attr("dy", ".71em")
                    .style("text-anchor", "end")
                    .text("Price ($)");

                svg.append("g")
                    .attr("class", "y1 axis")
                    .attr("transform", "translate(" + width + " ,0)")
                    .style("fill", "red")
                    .call(y1);

                svg.append("path")
                    //.data(data)
                    .attr("fill", "none")
                    .attr("stroke", "#CC00CC")
                    .attr("stroke-linejoin", "round")
                    .attr("stroke-linecap", "round")
                    .attr("stroke-width", 1.5)
                    .attr("class", "linebid")
                    .attr("first",data[0].date)
                    .attr("d", line(data));

                svg.append("path")
                    //.data(data)
                    .attr("fill", "none")
                    .attr("stroke", "steelblue")
                    .attr("stroke-linejoin", "round")
                    .attr("stroke-linecap", "round")
                    .attr("stroke-width", 1.5)
                    .attr("class", "lineask")
                    .attr("first",data[0].date)
                    .attr("d", lineAsk(data));

                var focus = svg.append("g")
                    .attr("class", "focus")
                    .attr("fill", "none")
                    .attr("stroke", "steelblue")
                    .style("display", "none");
                focus.append("circle")
                    .attr("r", 1);

                focus.append("text")
                    .attr("x", 9)
                    .attr("dy", ".1em");

                svg.append("rect")
                    .attr("class", "overlay")
                    .attr("fill", "none")
                    .attr("pointer-events", "all")
                    .attr("width", width)
                    .attr("height", height)
                    .on("mouseover", function() { focus.style("display", null); })
                    .on("mouseout", function() { focus.style("display", "none"); })
                    .on("mousemove", mousemove);

                function mousemove() {
                  var x0 = x.invert(d3.mouse(this)[0]),
                      i = bisectDate(data, x0, 1),
                      d0 = data[i - 1],
                      d1 = data[i],
                      d = x0 - d0.date > d1.date - x0 ? d1 : d0;
                  focus.attr("transform", "translate(" + x(d.date) + "," + y(d.closeBid) + ")");
                  focus.select("text").text('('+d.date+','+formatCurrency(d.closeBid)+','+formatCurrency(d.closeAsk)+')');
              }
              function draw(data,transection,firstTime)
              {
                  svg = d3.select("svg");//.transition();
                  console.log(data)
                  x.domain([data[0].date, data[data.length - 1].date]);
                  y.domain(d3.extent(data, function(d) { return d.closeBid; }));
                  y1.domain(d3.extent(data, function(d) { return d.closeAsk; }));
                  var line = d3.line()
                      .x(function(d) { return x(d.date); })
                      .y(function(d) { return y(d.closeBid); });
                  var lineAsk = d3.line()
                      .x(function(d) { return x(d.date); })
                      .y(function(d) { return y1(d.closeAsk); });
                  svg.attr("id",transection);
                  svg.select('.xaxis').call(d3.axisBottom(x)
                    .tickFormat(d3.timeFormat("%H:%M:%S")));
                  svg.select('.date').call(d3.axisTop(x)
                    .tickFormat(d3.timeFormat("%y-%m-%d")));
                  svg.select(".linebid").transition()   // change the line
                     //.duration(750)
                     .attr("d", line(data))
                     .attr("first",firstTime);
                  svg.data(data);
                  svg.select(".lineask").transition()   // change the line
                     //.duration(750)
                     .attr("d", lineAsk(data))
                     .attr("first",firstTime);
                  svg.select(".x.axis").transition() // change the x axis
                      //.duration(750)
                      .call(x);
                  svg.select(".y.axis").transition() // change the y axis
                      //.duration(750)
                      .call(y);
                  svg.select(".y1.axis").transition() // change the y axis
                      //.duration(750)
                      .call(y1);

                  //svg.duration(4000).transition();

              }

              function Minus()
              {
                svg = d3.select("svg");
                var paths = svg.select('.lineask').attr("first");
                var id = d3.select('svg').attr('id');
                var pathData = [];
                timedelta=5*60*1000

                firstTime=new Date(paths)
                console.log("!!!"+firstTime)
                console.log("~~~"+new Date(firstTime.getTime()+timedelta))

                data=all[id]
                data.map(Obj => {
                  if(Obj.date-firstTime >= timedelta)
                    pathData.push(Obj);
                  });

                draw(pathData,id,new Date(firstTime.getTime()+timedelta));
              }
              function Plus()
              {
                var paths = svg.select('.lineask').attr("first");
                var id = d3.select('svg').attr('id');
                timedelta=5*60*1000
                data=all[id];
                g=paths._groups
                firstTime=new Date(paths)
                var pathData = [];
                data.map(Obj => {
                  if(firstTime - Obj.date <= timedelta)
                    pathData.push(Obj);
                  });
                draw(pathData,id,new Date(firstTime.getTime()-timedelta));
              }

              </script>

        </div>
      </div>
      <!-- Example DataTables Card-->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> Data Table</div>
        <div class="card-body">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>Name</th>
                <th>Bid</th>
                <th>Ask</th>
                <th>Time</th>
              </tr>
            </thead>
            <tbody>
              <tr id='Binance'>
                <td>Binance</td>
                {% for Binance in BinanceBTCTable %}
                {% if forloop.last %}
                  <td>{{Binance.bid}}</td>
                  <td>{{Binance.ask}}</td>
                  <td>{{Binance.created_at}}</td>
                {% endif %}
                {% endfor %}
              </tr>
              <tr id='Bittrex'>
                <td>Bittrex</td>
                {% for Bittrex in BittrexBTCTable %}
                {% if forloop.last %}
                <td>{{Bittrex.bid}}</td>
                <td>{{Bittrex.ask}}</td>
                <td>{{Bittrex.created_at}}</td>
                {% endif %}
                {% endfor %}
              </tr>
              <tr id='Cex'>
                <td>Cex</td>
                {% for Cex in CexBTCTable %}
                {% if forloop.last %}
                <td>{{Cex.bid}}</td>
                <td>{{Cex.ask}}</td>
                <td>{{Cex.created_at}}</td>
                {% endif %}
                {% endfor %}
              </tr>
              <tr id='Bitfinex'>
                <td>Bitfinex</td>
                {% for Bitfinex in BitfinexBTCTable %}
                {% if forloop.last %}
                <td>{{Bitfinex.bid}}</td>
                <td>{{Bitfinex.ask}}</td>
                <td>{{Bitfinex.created_at}}</td>
                {% endif %}
                {% endfor %}
              </tr>
              <tr id='Cryptopia'>
                <td>Cryptopia</td>
                {% for Cryptopia in CryptopiaBTCTable %}
                {% if forloop.last %}
                <td>{{Cryptopia.bid}}</td>
                <td>{{Cryptopia.ask}}</td>
                <td>{{Cryptopia.created_at}}</td>
                {% endif %}
                {% endfor %}
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-dollar"></i> Trade</div>
        <div class="card-body">

        </div>
      </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © RICHER 2018</small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-secondary" href="/users/signout/">Sign Out</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src={% static "bootstrap/vendor/jquery/jquery.min.js" %}></script>
    <script src={% static "bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js" %}></script>
    <!-- Core plugin JavaScript-->
    <script src={% static "bootstrap/vendor/jquery-easing/jquery.easing.min.js" %}></script>
    <!-- Page level plugin JavaScript-->
  </div>
</body>

</html>
