
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js" type="text/javascript"></script>
  <script src="http://127.0.0.1:4000/socket.io/socket.io.js"></script>
  <script>
    $(document).ready(function(){
      //  SetData();
        var socket = io.connect('http://127.0.0.1:4000');
        console.log(socket)
        socket.on('connect', function(){
          console.log("connect");
        //  SetData();
        });
        var options =
        {
          year: "numeric", month: "short",
          day: "numeric", hour: "2-digit", minute: "2-digit"
        };

          socket.on('message', function(message)
          {
            console.log('send message');
            console.log(message);
            var megObjs = JSON.parse(message);
            //console.log(message);
            var outputMeg=[]
            /*megObjs.map(megObj => {
              myDate=new Date(megObj.fields.created_at) //change date type
              megObj.fields.created_at= myDate.toLocaleTimeString("en-us", options);
              outputMeg.push(megObj.fields) //push all obj to list
            });*/
            //megObj=megObjs[megObjs.length-1]
            //myDate=new Date(megObj.fields.created_at) //change date type
            //megObjs.products.map(megObj=>{
              megObjs.created_at= new Date(megObjs.created_at)
              outputMeg.push(megObjs)
            //})
            //console.log(outputMeg)
            //outputMeg.push(megObj.fields)


            var dt = dynamicTable.config( 'dataTable',
                ['transection','bid', 'ask','created_at'],
                ['transection','bid', 'ask','time'], //set to null for field names
                'There are no items to list...');
            //outputMeg.push(outputMeg)
            //console.log(typeof(megObjs))
            dt.load(outputMeg);
          });
        });
    ///////////////////////dynamic table////////////////////////
          var dynamicTable = (function() {
          var _tableId, _table,
          _fields, _headers,
          _defaultText;
          function UpdateTable(transectionId)
          {
            a=document.getElementById('Cex')
            console.log(a)
          }
          function AddRow(item,names)
          {
            table = document.getElementById("dataTable");
            var row = table.insertRow(table.length);
            row.id=item['transection'];
            var i=0;
            names=names.reverse()
            $.each(names, function(index, name) {
              var cell1 = row.insertCell(i);
              cell1.innerHTML = item[name+''];
            });
          }
          function Update(item,names)
          {
            table = document.getElementById(item['transection']);
            var i=0
            //names=names.reverse()
            $.each(names, function(index, name) {
              table.cells[i].innerHTML=item[name+'']
              console.log(table.cells[i])
              i++
            });
            //table.innerHTML
          }
          function _buildRowColumns(names, item) {
            var row=''
            if(item)
            {
              if(document.getElementById(item['transection'])==null)
                AddRow(item,names)
              else
                Update(item,names)
              return ''
            }
            else
            {
              row='<tr>'
              $.each(names, function(index, name) {
              var c = item ? item[name+''] : name;
              row += '<td>' + c + '</td>';
              });
              row += '</tr>';
            }
            return row;
          }


          return {
            //* Configres the dynamic table.
            config: function(tableId, fields, headers, defaultText) {
              _tableId = tableId;
              _table = $(document.getElementById(_tableId))//$('#' + tableId);
              _fields = fields || null;
              _headers = headers || null;
              _defaultText = defaultText || 'No items to list...';
              //_setHeaders();
              return this;
                    },
            /** Loads the specified data to the table body. */
            load: function(data, append) {
              var i=0;
                //transectionId=data[0]['transection']
                //console.log(data.length)
                if (data && data.length > 0) {
                  var rows = '';
                  $.each(data, function(index, item) {
                    rows += _buildRowColumns(_fields, item);
                  });

                  var mthd = append ? 'append' : 'html';
                  if(rows!='')
                    _table.children('tbody')[mthd](rows);
                  }
                return this;
          },
              /** Clears the table body. */
        };
        }());

/////////////////////////////////////////////////////////////////
  </script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Project Website</title>
  <!-- Bootstrap core CSS-->
  <link href={% static "bootstrap/vendor/bootstrap/css/bootstrap.min.css" %} rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
    rel='stylesheet'>
  <!-- Custom fonts for this template-->
  <link href={% static "bootstrap/vendor/font-awesome/css/font-awesome.min.css" %} rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href={% static "bootstrap/css/sb-admin.css" %} rel="stylesheet">
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="/index">RICHER</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" href="/users/trading/">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">Trading</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
          <a class="nav-link" href="/users/order/">
            <i class="fa fa-fw fa-area-chart"></i>
            <span class="nav-link-text">Orders</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
          <a class="nav-link" href="/users/withdraw/">
            <i class="fa fa-fw fa-dollar"></i>
            <span class="nav-link-text">Withdraw</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
          <a class="nav-link" href="/users/deposit/">
            <i class="fa fa-fw fa-bitcoin"></i>
            <span class="nav-link-text">Deposit</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-calculator"></i>
            <span class="nav-link-text">Wallet</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseComponents">
            <li>
              <a href="Cex_Wallet.html">Cex_Wallet</a>
            </li>
            <li>
              <a href="Bittrex_Wallet.html">Bittrex_Wallet</a>
            </li>
            <li>
              <a href="Binance_Wallet.html">Binance_Wallet</a>
            </li>
            <li>
              <a href="#">hahaha_Wallet</a>
            </li>
          </ul>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMyPage" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-calculator"></i>
            <span class="nav-link-text">MyPage</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseMyPage">
            <li>
              <a href="#">Status</a>
            </li>
            <li>
              <a href="/users/changepassword/">ChangePassword</a>
            </li>
          </ul>
        </li>


        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
          <a class="nav-link" href="#">
            <i class="fa fa-fw fa-table"></i>
            <span class="nav-link-text">Contact</span>
          </a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
            <h6>Hi {{username}} !</h6>
            <i class="fa fa-fw fa-sign-out"></i>Sign out</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Area Chart Example-->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-area-chart"></i> Area Chart</div>
        <div class="card-body">
          <canvas id="myAreaChart" width="100%" height="30"></canvas>
        </div>
      </div>
      <!-- Example DataTables Card-->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> Data Table</div>
        <div class="card-body">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Bid</th>
                  <th>Ask</th>
                  <th>Time</th>
                </tr>
              </thead>
              <tbody>
                <tr id='Binance'>
                  <td>Binance</td>
                  {% for Binance in BinanceBTCTable %}
                  {% if forloop.last %}
                    <td>{{Binance.bid}}</td>
                    <td>{{Binance.ask}}</td>
                    <td>{{Binance.created_at}}</td>
                  {% endif %}
                  {% endfor %}
                </tr>
                <tr id='Bittrex'>
                  <td>Bittrex</td>
                  {% for Bittrex in BittrexBTCTable %}
                  {% if forloop.last %}
                  <td>{{Bittrex.bid}}</td>
                  <td>{{Bittrex.ask}}</td>
                  <td>{{Bittrex.created_at}}</td>
                  {% endif %}
                  {% endfor %}
                </tr>
                <tr id='Cex'>
                  <td>Cex</td>
                  {% for Cex in CexBTCTable %}
                  {% if forloop.last %}
                  <td>{{Cex.bid}}</td>
                  <td>{{Cex.ask}}</td>
                  <td>{{Cex.created_at}}</td>
                  {% endif %}
                  {% endfor %}
                </tr>
                <tr id='Bitfinex'>
                  <td>Bitfinex</td>
                  {% for Bitfinex in BitfinexBTCTable %}
                  {% if forloop.last %}
                  <td>{{Bitfinex.bid}}</td>
                  <td>{{Bitfinex.ask}}</td>
                  <td>{{Bitfinex.created_at}}</td>
                  {% endif %}
                  {% endfor %}
                </tr>
                <tr id='Cryptopia'>
                  <td>Cryptopia</td>
                  {% for Cryptopia in CryptopiaBTCTable %}
                  {% if forloop.last %}
                  <td>{{Cryptopia.bid}}</td>
                  <td>{{Cryptopia.ask}}</td>
                  <td>{{Cryptopia.created_at}}</td>
                  {% endif %}
                  {% endfor %}
                </tr>
              </tbody>
            </table>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-dollar"></i> Trade</div>
        <div class="card-body">

        </div>
      </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © RICHER 2018</small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="/users/signout/">Sign Out</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src={% static "bootstrap/vendor/jquery/jquery.min.js" %}></script>
    <script src={% static "bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js" %}></script>
    <!-- Core plugin JavaScript-->
    <script src={% static "bootstrap/vendor/jquery-easing/jquery.easing.min.js" %}></script>
    <!-- Page level plugin JavaScript-->
  </div>
</body>

</html>
